/* CSS (in style.css file) */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  position: relative;
}

.title-diseño {
  padding: 20px;
  text-align: center;
  position: absolute; /* Establecemos la posición absoluta del elemento "Bienvenido" */
  top: 50%; /* Centramos el elemento "Bienvenido" verticalmente */
  left: 50%; /* Centramos el elemento "Bienvenido" horizontalmente */
  transform: translate(-50%, -265%); /* Desplazamos el elemento "Bienvenido" hacia la izquierda y arriba para centrarlo */
}

.background {
  max-width: 100%; /* Ajusta el ancho del contenedor al ancho de la pantalla */
  max-height: 100vh; /* Ajusta el alto del contenedor al alto de la pantalla */
  display: flex; /* Centra la imagen horizontalmente */
  justify-content: center; /* Centra la imagen verticalmente */
}

.background img {
  width: 60vw; /* Reducimos el ancho de la imagen a 80% del ancho del contenedor */
  height: 60vh; /* Reducimos el alto de la imagen a 80% del alto del contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}


.start-button:hover {
	background-color: #4c2882;
}